/* lightest to darkest */
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Open Sans",sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

body {
  background: #193441; }
  body > header {
    width: 100%;
    box-shadow: 0px 2px 1px #3e606f; }
    body > header > #title {
      padding: 12px 0px 12px 30px;
      color: #d1dbbd;
      font-size: 42px;
      font-weight: 300;
      text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.4); }
      body > header > #title > span {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2); }
